@{
    ViewBag.Title = "Quem Somos";
}

<head>
    <link href="~/Content/Home.css" rel="stylesheet" />
</head>

<div class="container padding" id="convenios">
    <div class="row convenios text-center padding">
        <div class="col-12">
            <h2>Convênios</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6">
            <img class="convenio-logo" src="~/Content/Images/saude_caixa_logomarca.jpg" alt="Saúde-caixa logomarca" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <img class="convenio-logo" src="~/Content/Images/pro_saude_tjdft.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>