@{
    ViewBag.Title = "Quem Somos";
}

<div class="container-fluid padding">
    <div class="row convenios text-center">
        <div class="col-12">
            <h2 class="display-4">Convênios</h2>
        </div>
        <hr />
    </div>
</div>

<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-code"></i>
            <h3>Nome</h3>
            <p>Descrição das especialidades</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-bold"></i>
            <h3>Nome</h3>
            <p>Descrição das especialidades</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <i class="fab fa-css3"></i>
            <h3>Nome</h3>
            <p>Descrição das especialidades</p>
        </div>
    </div>
</div>


