@{
    ViewBag.Title = "Especialidades";
}

<head>
    <link href="~/Content/Home.css" rel="stylesheet" />
</head>

<div class="especialidades padding" id="especialidades">
    <div class="container padding">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Especialidades</h2>
            </div>
        </div>
        <div class="row">
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/fisioterapia_icon.png" alt="Fisioterapia ortopédica" />
                </div>
                <div class="especialidade-titulo">
                    <span>Fisioterapia Ortopédica</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Responsável pela prevenção e tratamento de patologias que atingem a musculatura, os ossos, as articulações e ligamentos do corpo humano.</p>
                </div>
            </div>
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/terapia_manual_icon.png" alt="Terapia Manual" />
                </div>
                <div class="especialidade-titulo">
                    <span>Terapia Manual</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Utiliza técnicas de mobilização passiva para avaliar e tratar o paciente como um todo.</p>
                </div>
            </div>
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/osteopatia_icon.png" alt="Osteopatia" />
                </div>
                <div class="especialidade-titulo">
                    <span>Osteopatia</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Técnicas de mobilização e manipulação articular que visam ajudar o corpo a se curar sozinho.</p>
                </div>
            </div>
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/acupuntura_icon.png" alt="Acupuntura" />
                </div>
                <div class="especialidade-titulo">
                    <span>Acupuntura</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Utilização de agulhas em pontos específicos do corpo para tratar doenças e promover saúde.</p>
                </div>
            </div>
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/pilates_icon.png" alt="Pilates" />
                </div>
                <div class="especialidade-titulo">
                    <span>Pilates</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Atividade física que busca o controle dos músculos do corpo, visando aumento de mobilidade, flexibilidade, força e tônus muscular.</p>
                </div>
            </div>
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/rpg_icon.png" alt="RPG" />
                </div>
                <div class="especialidade-titulo">
                    <span>RPG</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Revaloriza a função estática dos músculos, identificando e alongando os músulos responsáveis pela alteração postural.</p>
                </div>
            </div>
        </div>
    </div>
</div>



