.navbar {
    padding: 0.8rem;
    text-align: center;
    background-color: white;
}

.navbar-brand img {
    width: 30px;
}

.nav-link {
    font-size: 1.1em !important;
}

.navbar-toggler {
    border: 0;
}

.navbar-nav li {
    padding-right: 20px;
}

    .navbar-nav li > a {
        color: #3D5F61 !important;
    }

    .navbar-nav li a:hover {
        color: white !important;
        background-color: #3D5F61 !important;
    }

.carousel-inner img {
    width: 100%;
    height: 300px !important;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-shadow: 1px 1px 15px #000;
}

    .carousel-caption h2 {
        font-size: 150%;
    }

    .carousel-caption h6 {
        font-size: 100%;
        padding-bottom: 1em;
    }

    .carousel-caption a {
        font-size: 90%;
    }

.slide-item-3 img {
    opacity: 0.5;
}

.slide-caption-1 {
    color: yellow;
}

.slide-caption-3 {
    color: #3D5F61;
}

    .slide-caption-3 h2,
    .slide-caption-3 h6 {
        text-shadow: 1px 1px 1px white !important;
    }

.padding {
    padding-bottom: 2rem;
    padding-left: 0;
}

.jumbotron {
    padding: 2rem;
    margin-bottom: 0;
}

.descricao-btn:hover {
    border-color: #3D5F61;
    background-color: #3D5F61;
}

.especialidades {
    position: relative;
}

    .especialidades .img {
        background: url(/Content/Images/enrolando_tatami.jpg);
        opacity: 0.2;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .especialidades .container {
        position: relative;
        z-index: 2;
    }

    .especialidades hr {
        width: 65%;
    }

    .especialidades ul {
        padding-left: 30%;
    }

.convenios {
    padding-top: 2rem;
}

    .convenios hr {
        width: 50%;
    }

.convenio-logo {
    width: 50%;
    padding-bottom: 3rem;
}


.display-4 {
    font-size: 240%;
}

hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
}

.parallax {
    background-image: url(/Content/Images/sala_pilates.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 1px #000;
    font-weight: 500;
    color: #d5d5d5;
}

    .parallax p {
        padding-bottom: 1em;
    }

footer {
    background-color: #3D5F61;
    color: #d5d5d5;
    padding-top: 2rem;
}

    footer img {
        height: 100px;
    }

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    padding-bottom: 1rem;
}

.social a {
    font-size: 3rem;
    padding: 3rem;
}

.fa-facebook, .fa-instagram {
    color: #d5d5d5;
}

    .fa-facebook:hover, .fa-instagram:hover {
        color: #a3a3a3;
    }

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {

    .carousel-inner img {
        width: 100%;
        height: 450px !important;
    }

    .carousel-caption {
        position: absolute;
        top: 50%;
    }

        .carousel-caption h2 {
            font-size: 400%;
            text-shadow: 1px 1px 15px #000;
        }

        .carousel-caption h6 {
            font-size: 200%;
            text-shadow: 1px 1px 15px #000;
        }

        .carousel-caption a {
            font-size: 150%;
        }

    .slide-caption-2 {
        transform: translateY(-60%);
    }

    .slide-caption-1,
    .slide-caption-3 {
        transform: translateY(-70%);
    }


    .parallax .container {
        padding-top: 2rem;
    }

    .parallax h2 {
        font-size: 300%;
    }

    .parallax p,
    .parallax a {
        font-size: 150%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {
}*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {
}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
}*/
