﻿@font-face {
    font-family: Decker;
    src: url(Fonts/Decker.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Fonts/Roboto-Condensed.ttf);
}

body {
    font-family: Decker, sans-serif;
}

h2 {
    font-family: Roboto, sans-serif;
}

.btn {
    border-radius: 30px;
    background-color: #5e9093;
    color: #fff;
    padding: 5px 25px;
}

    .btn:hover {
        border-color: #3D5F61;
        background-color: #3D5F61;
    }

.navbar {
    padding: 0.8rem;
    text-align: center;
    background-color: white;
}

.navbar-brand img {
    width: 100px;
}

.nav-link {
    font-size: 1.1em !important;
}

.navbar-toggler {
    border: 0;
}

.navbar-nav li {
    padding-right: 20px;
}

    .navbar-nav li > a {
        color: #3D5F61 !important;
    }

    .navbar-nav li a:hover {
        color: white !important;
        background-color: #3D5F61 !important;
    }

.padding {
    padding-bottom: 2rem;
}

footer {
    background-color: #3D5F61;
    color: #d5d5d5;
    padding-top: 2rem;
}

    footer img {
        height: 100px;
    }

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    padding-bottom: 1rem;
}

.social a {
    font-size: 3rem;
    padding: 3rem;
}

.fa-facebook, .fa-instagram {
    color: #d5d5d5;
}

    .fa-facebook:hover, .fa-instagram:hover {
        color: #a3a3a3;
    }

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #3D5F61;
    width: 40px;
    height: 40px;
    display: block;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 13px;
        top: 7px;
        font-size: 16px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top:hover {
        background: #5e9093;
    }

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {


    .navbar-brand img {
        width: 200px;
    }

    #return-to-top {
        width: 50px;
        height: 50px;
    }

        #return-to-top i {
            left: 16px;
            top: 13px;
            font-size: 19px;
        }
}

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {
}*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {
}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
}*/
