@{
    ViewBag.Title = "Quem Somos";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h2 class="display-4">Conheça a Nossa Equipe</h2>
        </div>
        <hr />
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/Content/Images/chibi_sunako_logo.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <h4>John Doe</h4>
                    <p>Descrição sobre as especialidades do John.</p>
                    <a href="#" class="btn btn-outline-secondary">Ver Perfil</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/Content/Images/chibi_sunako_logo.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <h4>Mary Jo</h4>
                    <p>Descrição sobre as especialidades da Mary.</p>
                    <a href="#" class="btn btn-outline-secondary">Ver Perfil</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/Content/Images/chibi_sunako_logo.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <h4>Phill Ho</h4>
                    <p>Descrição sobre as especialidades do Phill.</p>
                    <a href="#" class="btn btn-outline-secondary">Ver Perfil</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/Content/Images/chibi_sunako_logo.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <h4>Jane Lo</h4>
                    <p>Descrição sobre as especialidades da Joanne.</p>
                    <a href="#" class="btn btn-outline-secondary">Ver Perfil</a>
                </div>
            </div>
        </div>
    </div>
</div>

