@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/Home.css" rel="stylesheet" />
</head>

<div class="carousel slide carousel-fade" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target=".carousel" data-slide-to="0" class="active"></li>
        <li data-target=".carousel" data-slide-to="1"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active slide-item-1">
            <img src="~/Content/Images/sala_pilates.jpg" alt="acupuntura" />
            <div class="carousel-caption slide-caption-1">
                <h2>Bem-vindo à Reabilitare Fisioterapia</h2>
                <h6>Para um dia-a-dia sem dor!</h6>
                <a href="./QuemSomos" class="btn btn-outline-secondary btn-sm">Saiba mais</a>
            </div>
        </div>
        <div class="carousel-item slide-item-2">
            <img src="~/Content/Images/terapia_manual_ombro.jpg" alt="dor no ombro" />
            <div class="carousel-caption slide-caption-2">
                <h2>Nós cuidamos da sua saúde</h2>
                <h6>Excelência de atendimento é o nosso lema. Nossos atendimentos são personalizados e individuais</h6>
                <a href="./QuemSomos" class="btn btn-outline-secondary btn-sm">Saiba mais</a>
            </div>
        </div>
    </div>
</div>

<div class="especialidades padding" id="especialidades">
    <div class="container padding">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Especialidades</h2>
            </div>
        </div>
        <div class="row">
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/fisioterapia_icon.png" alt="Fisioterapia ortopédica" />
                </div>
                <div class="especialidade-titulo">
                    <span>Fisioterapia Ortopédica</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Visa tratar lesões esportivas, desgaste, traumas, pós-condições cirúrgicas e doenças congênitas.</p>
                </div>
            </div>
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/terapia_manual_icon.png" alt="Terapia Manual" />
                </div>
                <div class="especialidade-titulo">
                    <span>Terapia Manual</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Avalia e trata o paciente como um todo, detectando disfunções do movimento e testando tecidos estruturais anatômicos.</p>
                </div>
            </div>
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/osteopatia_icon.png" alt="Osteopatia" />
                </div>
                <div class="especialidade-titulo">
                    <span>Osteopatia</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Visa ajudar o corpo a se curar sozinho através de mobilização e manipulação articular, bem como de tecidos moles.</p>
                </div>
            </div>
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/acupuntura_icon.png" alt="Acupuntura" />
                </div>
                <div class="especialidade-titulo">
                    <span>Acupuntura</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Aplicação de agulhas em pontos específicos do corpo para tratar doenças e promover saúde.</p>
                </div>
            </div>
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/pilates_icon.png" alt="Pilates" />
                </div>
                <div class="especialidade-titulo">
                    <span>Pilates</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Atividade física que busca o controle dos músculos do corpo, visando aumento de mobilidade, flexibilidade, força e tônus muscular.</p>
                </div>
            </div>
            <div class="especialidade text-center col-lg-4">
                <div class="especialidade-icone">
                    <img src="~/Content/Images/Especialidades/rpg_icon.png" alt="RPG" />
                </div>
                <div class="especialidade-titulo">
                    <span>RPG</span>
                </div>
                <div class="especialidade-descricao">
                    <p>Revaloriza a função estática dos músculos, identificando e alongando os músulos responsáveis pela alteração postural.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron descritivo">
    <div class="img"></div>
    <div class="container container-fluid">
        <h2>Nós cuidamos da sua saúde</h2>
        <p class="lead">A clínica Reabilitare Fisioterapia tem por objetivo proporcionar melhor qualidade de vida, para um dia-a-dia sem dor e recuperar movimentos e funções de regiões lesionadas. Para nós, comprometimento e cuidado com cada paciente são fundamentais para uma fisioterapia de excelência.</p>
        <a href="./QuemSomos" class="btn btn-outline-secondary btn-sm">Saiba mais</a>
    </div>
</div>

<div class="container padding" id="convenios">
    <div class="row convenios text-center padding">
        <div class="col-12">
            <h2>Convênios</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6">
            <img class="convenio-logo" src="~/Content/Images/saude_caixa_logomarca.jpg" alt="Saúde-caixa logomarca" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <img class="convenio-logo" src="~/Content/Images/pro_saude_tjdft.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>