@{
    ViewBag.Title = "Home Page";
}

<div class="carousel slide carousel-fade" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target=".carousel" data-slide-to="0" class="active"></li>
        <li data-target=".carousel" data-slide-to="1"></li>
        <li data-target=".carousel" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/Images/acupuntura.jpg" alt="acupuntura" />
            <div class="carousel-caption">
                <h2>Bem-vindo à Reabilitare Fisioterapia</h2>
                <h6>Para um dia-a-dia sem dor!</h6>
                <a href="./QuemSomos" class="btn btn-success btn-sm">Saiba mais &raquo;</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/Images/dor_ombro.jpg" alt="dor no ombro" />
            <div class="carousel-caption">
                <h2>Nós cuidamos da sua saúde</h2>
                <h6>Excelência de atendimento é o nosso lema. Nossos atendimentos são personalizados e individuais</h6>
                <a href="./QuemSomos" class="btn btn-success btn-sm">Saiba mais &raquo;</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/Images/terapia_manual_ombro.jpg" alt="manipulação do joelho" />
            <div class="carousel-caption">
                <h2>Sabe o que é Terapia Manual?</h2>
                <h6>Reconhecida mundialmente, a Terapia Manual permite ao fisioterapeuta avaliar e sentir melhor os movimentos e disfunções do paciente.</h6>
                <a href="./QuemSomos" class="btn btn-success btn-sm">Saiba mais &raquo;</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">A clínica Reafilitare Fisioterapia tem por objetivo proporcionar melhor qualidade de vida, para um dia-a-dia sem dor e recuperar movimentos e funções de regiões lesionadas</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="./QuemSomos" class="btn btn-outline-secondary btn-lg">Saiba mais &raquo;</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row jumbotron especialidades">
        <div class="col-12">
            <h2 class="display-4 text-center">Especialidades</h2>
        </div>
        <hr />
        <ul>
            <li>Fisioterapia ortopédica</li>
            <li>Terapia manual</li>
            <li>Osteopatia</li>
            <li>Acupuntura</li>
            <li>Pilates</li>
            <li>RPG</li>
        </ul>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row">

    </div>
</div>

<div class="container-fluid padding">
    <div class="row convenios text-center">
        <div class="col-12">
            <h2 class="display-4">Convênios</h2>
        </div>
        <hr />
    </div>
</div>

<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6">
            <img class="convenio-logo" src="~/Content/Images/saude_caixa_logomarca.jpg" alt="Saúde-caixa logomarca" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <img class="convenio-logo" src="~/Content/Images/pro_saude_tjdft.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>

<div class="container-fluid parallax">
    <div class="container container-fluid">
        <h2>Nós cuidamos da sua saúde</h2>
        <p class="lead">Para nós, comprometimento e cuidado com cada paciente são fundamentais para uma fisioterapia de excelência.</p>
        <a href="~/Views/Home/QuemSomos.cshtml" class="btn btn-success btn-sm">Saiba mais &raquo;</a>
    </div>
</div>